@import url("../../app/app.css");
.site-input-split {
    height: 38px;
    width: 80%;
}
.label-text {
    font-family:var(--universal-fontfamily);
}
.get-in-touch-area {
    font-family: var(--universal-fontfamily);
    padding-left: 7rem;
}
.text {
    font-size: 1.3rem;

}
address {
    font-style: italic;
}
.form-contact {
    font-family: var(--universal-fontfamily);
}
.group-element {
    margin: 1.4em 0;
}
.btn-submit {
    background-color: #019a03;
}
.btn-submit:hover {
    background-color: #3dbb3f;
}
.icon-alert {
    color: red;
    height: 30px;
    width: 20px;
}