@import url("../../app/app.css");

.btn-search {
    background-color: var(--universal-color);
    font-family: var(--universal-fontfamily);
    outline: none;
}
.form-input {
    border-bottom: 1px solid black;
    font-family: var(--universal-fontfamily);
}
h1 {
    font-size: 2.5em !important;
}
.small-form {
    margin-top: 10vh !important;

}